body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

#contained {
    width: 100%;
    height: 100%;
}

#main-header {
    background-color: #333;
    color: #fff;
    padding-top: 20px;
    min-height: 70px;
    border-bottom: 1px solid #282626;
    text-align: center;
}

#main-header h1:hover {
    background-color: #353333;
    border-radius: 10%;
}
#main-header h1 {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
    padding-top: 10px;
    color: #c5b1b1;
}

#main-header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    position: relative;
    justify-content: center;
}

#main-header ul li {
    display: inline;
    margin: 0 10px;
}

#main-header ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 15px;
    display: flex;
    margin: 3px;
}

#main-header ul li a:hover {
    background-color: #fff;
    color: black;
    border-radius: 48%;
}

#main-content {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 40px;
    margin-top: 0px;
    border-radius: 0;
    background-color: #a79f9f;
    text-align: center;
}

#main-content h2 {
    margin-top: 30px;
    font-size: 32px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#main-content p {
    margin-top: 0;
    font-size: 18px;
    text-align: center;
}

#main-footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto; 
}

#main-footer p {
    padding-top: 40px;
    padding-bottom: 70px;
}

.page {
    opacity: 1;
    transition: opacity 0.1s ease-in-out;
}

.page-exit {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.profile-picture {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 3px solid #282626;
    margin: 20px auto;
    display: block;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.profile-picture:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    #main-header ul {
        display: block;;
    }
    
    #main-header ul li {
        display: inline-block;
        margin: 10px 0;
    }

    #main-header ul li a {
        display: block;
        padding: 10px;
    }

    #main-content {
        padding: 10px;
    }

    #main-content h2 {
        font-size: 24px;
    }

    #main-content p {
        font-size: 18px;
    }   
}







