.about-section {
  margin-bottom: 70px;
  position: relative;
  z-index: 20;
}
.about-section h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.2rem;
  color: rgb(230, 220, 110);
  border-left: 14px solid rgb(230, 220, 110);
  padding-left: 25px;
  margin-bottom: 50px;
  letter-spacing: 0.24em;
  text-transform: uppercase;
  transition: color 0.5s ease, border-color 0.5s ease;
}
.about-section p {
  max-width: 740px;
  margin: 0 auto;
  font-size: 1.4rem;
  line-height: 2.4;
  color: inherit;
  transition: color 0.5s ease;
  position: relative;
  z-index: 20;
}

.skills {
  margin-top: 30px;
  text-align: center;
}

.skill-icons {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 15px;
  flex-wrap: wrap;
}

.skill-icon {
  font-size: 48px;
  color: inherit;
  transition: color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
}

/* On hover: change color and apply scale effect */
body.dark .skill-icon:hover,
body.light .skill-icon:hover {
  color: rgb(230, 220, 110);
  transform: scale(1.2);
}

